@import "tailwindcss";

@theme inline {
  --font-bitter: var(--font-bitter);
  --font-chillax: var(--font-chillax);
  --font-grotesk: var(--font-grotesk);
  --color-primary: #face8d;
}

html,
body {
  @apply bg-black overflow-hidden;
}

select options {
  @apply py-10;
}

select option {
  @apply bg-black/80 text-white appearance-none py-4;
}
